@font-face {
    font-family: Aileron;
    src: url("../fonts/aileron/Aileron-Light.otf");
}
body {
	padding: 0px;
	margin: 0px;
	background-image: url("../images/painting.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
::-webkit-scrollbar { 
    display: none; 
}
.navbar {
	top: 0px;
	position: fixed;
	background-color: rgba(108, 144, 168, .8);
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 15px;
}
.navbar a {
	float: right;
	padding: 0px 12px 0px;
	color: rgba(234, 234, 225, 1);
	font: 12px 'Aileron';
	text-transform: uppercase;
	letter-spacing: 3.5px;
	text-decoration: none;
}
.navbar a:hover {
	color: rgba(234, 234, 225, .5);
}
.logo {
	float: left;
	width: 100%;
	height: 100%;
}
.logo img {
	width: 30px;
}
.container {
	width: 960px;
	height: 79%;
	left: 50%;
	top: 80px;
	transform: translateX(-50%);
	position: fixed;
	padding: 10px;
	overflow: auto;
	background-color: rgba(234, 234, 225, .5);
}
/* index-page specific code */
.name {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;	
	z-index: 1;
}

.name img {
	width: 400px;
}

.name:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #EAEAE1);
  filter: drop-shadow(5px 5px 5px #EAEAE1);
}

/* project-page specific code */
.labels {
	position: absolute;
}
.label {
	background-color: #EAEAE1;
	width: 250px;
	height: 250px;
	margin: 10px;
	float: left;
	padding: 25px;
	color: #375C38;
	text-align: center;
}
.label:hover {
	color: #EAEAE1;
	background-color: #578252;
	transition: .3s;
}
/* content for the label div */
.title {
	font: 20px 'Aileron';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.subtitle {
	font: 15px 'Aileron';
	margin-top: 15px;
	height: 180px;
}
.group {
	font: 14px 'Aileron';
	letter-spacing: 2px;
}
#r {
}
#r:hover {
	background-color: #BBBBB4;
}
#mbti {
	background-color: #cdd4a8;
}
#mbti:hover {
	background-color: #80875c;
}
#paper {
	background-color: #ABC0A8;
}
#paper:hover {
	background-color: #375C38;
}

/* about-specific page */

.layer {
	background-color: rgba(234, 234, 225, .8);
	width: 460px;
	float: right;
	margin: 10px;
	color: #375C38;
	padding: 30px;
}
.picture img {
	margin: 10px;
	width: 340px;
	float: left;
}

.name-title {
	font: 40px 'Aileron';
	text-transform: uppercase;
	text-align: center;
}

.description {
	font: 16px 'Aileron';
	line-height: 1.5em;
	padding: 10px;
}