@font-face {
    font-family: Aileron;
    src: url("../fonts/aileron/Aileron-Light.otf");
}
body {
	padding: 0px;
	margin: 0px;
}
div {
	font-family: 'Aileron';
}
.background {
	background: url("../images/painting.jpeg") no-repeat center center fixed; 
	position: fixed;
  	height: 100%;
  	width: 100%;
	left: 0;
  	right: 0;
  	z-index: -5;
	filter: blur(2px);
 	-webkit-filter: blur(2px);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
}
.navbar-inactive {
	background-color: rgba(108, 144, 168, 0);
}
.navbar-active {
	background-color: rgba(108, 144, 168, .9);
}
#navbar {
	top: 0px;
	position: fixed;
	width: 100%;
	height: 35px;
	text-align: center;
	z-index: 5;
	padding-top: 15px;
	-moz-transition: all .5s linear;
    transition: all .5s linear;
}
/* .navbar-positioner {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 5px;
	background-color: red;
} */

.navbar-button {
	padding: 0px 12px 0px;
	color: rgba(234, 234, 225, 1);
	font: 14px 'Aileron';
	text-transform: uppercase;
	letter-spacing: 3.5px;
	text-decoration: none;
	display: inline-block;
}
.navbar-button:hover {
	color: rgba(234, 234, 225, .5);
}
.content {
	position: absolute;
	top: 882px;
	width: 100%;
	height: 100%;
}
.front-page {
}
.header-section {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
.about-section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 234, 225, .8);
}
.about-container {
	position: absolute;
	width: 80%;
	margin: 40px 10% 0px;
}
.resume-section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 234, 225, .6);
}
.resume-container {
	position: absolute;
	width: 80%;
	margin: 0px 10% 0px;	
}
.project-section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 234, 225, .7);
}
.project-container {
	position: absolute;	
	width: 85%;
	margin: 0px 7.5% 0px;
}
.blog-section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 234, 225, .9);
}
.blog-container {
	position: absolute;
	width: 80%;
	margin: 0px 10% 0px;
}
.detail-section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 234, 225, 1);
}
.detail-container {
	position: absolute;
	width: 80%;
	margin: 10px 10% 10px;
	font-size: 16px;
	text-align: center;
}
/* home-page specific code */
.name img {
	width: 600px;
}
.shareicons {
	text-align: center; 
} 
.shareicon2  {
	border: 4px double rgba(234, 234, 225, 1);
	color: #abab81;      
	border-radius: 50%;
    display: inline-block;
	width: 20px;
  	height: 20px;
 	padding: 11px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 20px 10px 0px;
}          
.shareicon2:hover {
	border: 4px solid rgba(234, 234, 225, .2);
	background: rgba(234, 234, 225, 1);
	color: #FFF;
	top: -2px;
	transition: all 0.2s ease;
}
/* about-specific page */

/*.image {
	text-align: center;
}
.image img {
	float: left;
	position: relative;
	height: 300px;
	border-radius: 50%;
	margin-right: 150px; 
	border: 10px double rgba(234, 234, 225, 1);
}
.header-title {
	width: 100%;
	font: 40px 'Aileron';
	text-transform: lowercase;
	text-align: center;
}
.description a {
	color: #375C38;
	text-decoration: none;
}
.description a:hover {
}*/

.about-content {
	position: relative;
	color: #375C38;
}
.description {
	background: rgba(234, 234, 225, .8);
	font-size: 16px;
	line-height: 1.5em;
	padding: 20px;
	margin: 2%;
	float: left;
	width: 60%;
}
.characteristics {
	background: rgba(234, 234, 225, .8);
	font-size: 16px;
	line-height: 1.5em;
	padding: 20px;
	margin: 2%;
	float: left;
	width: 20%;
}
/* project-container specific information */
.label {
	text-align: center;
	float: left;
	width: 250px;
	height: 250px;
	padding: 25px;
	color: #375C38;
	text-decoration: none;
}
.label:hover {
	color: #EAEAE1;
	background-color: #578252;
	transition: .3s;
}
.title {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.subtitle {
	font-size: 15px;
	margin-top: 15px;
	height: 180px;
}
.group {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#r {
	background-color: #EAEAE1;
}
#r:hover {
	background-color: #BBBBB4;
}
#mbti {
	background-color: #cdd4a8;
}
#mbti:hover {
	background-color: #80875c;
}
#paper {
	background-color: #ABC0A8;
}
#paper:hover {
	background-color: #375C38;
}
/* blog-container specific information */
.article-left {
	padding: 20px;
	margin: 4%;
	float: left;
	width: 38%;
}
.article-right {
	padding: 20px;
	margin: 4%;
	float: left;
	width: 38%;
}
#title a {
	font-size: 35px;
	margin: 20px 0px 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
#date {
	font-size: 16px;
	margin: 20px 0px 20px;
	text-transform: uppercase;
	font-style: italic;
}
#preview {
	font-size: 18px;
	line-height: 1.5em;
}
#read-more {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	margin: 30px 0px 30px;
	width: 150px;
	border: 2px solid;
	border-radius: 5px;
	padding: 10px;
}
#read-more:hover {
	color: transparent;
	background-color: black;
	border-color: black;
}
