http://41.media.tumblr.com/ef389c74e2ff1ca4beef599575c5dbab/tumblr_n6t3zfMnf81sinakeo1_1280.jpg


.boxes {
	width: 1440px;
	background-color: rgba(255, 255, 255, 1)
}
.box {
	width: 360px;
	height: 600px;
	position: absolute;
	top: 100px;
	background-color: white;
	transform: translateX(-50%);
	opacity: .9;
	border-radius: 5px;
}
.one {	
	left: 20%;
}
.two {	
	left: 50%;
}
.three {	
	left: 80%;
}

